<br></br>
<div class="row center light-blue lighten-4" style="padding: 2em; border: radius 1em;">
<h1 class="header center teal-text">BIENVENIDO A PROJNOTES</h1>
<div class="row center">
    <h5 class="header col s12 light grey-text text-darken-3">
        HAY UNA APLICACION QUE TE PERMITIRA UTILIZAR IDEAS DE PROYECTOS QUE SE TE VALLAN OCURRIENDO.
    </h5>
</div>
<div class="row center">
    <a href="" class="btn-large waves-effect waves-light teal">REGISTRTA UNA IDEA</a>
</div>
</div>